// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/page1/page1";
@import "../pages/page2/page2";
@import "../pages/confirm-payment/confirm-payment.scss";
@import "../pages/contact-booking/contact-booking.scss";
@import "../pages/showoff-profile/showoff-profile.scss";
@import "../pages/destinations-page/destinations-page.scss";
@import "../pages/user-profle/user-profle.scss";
@import "../pages/signup-page/signup-page.scss";
@import "../pages/login-page/login-page.scss";

.btn-center{
  margin: 0 auto;
  text-align: center;
}

#btn-bottom{
position: absolute; 
bottom: 10px; 
width: 100%    

}